.galeria{
	@include clearfix;
	li.imagen{
		float: left;
		list-style: none;

		@include gridImagenes(5, 1%);

		img{
			display: block;
			max-width: 100%;
			@include border-radius(10px);
		}
	}
}




