body{
	background-color:   $color-fondo;
	color :$color-principal;
	font-family : $fuente-principal;
	font-size:1.4rem;
	margin:0;
	padding:0;
}

h1,h2,h3,h4,h5,h6{
	color: $color-titulos;
	font-family: $fuente-titulos;	
}
div.caption{
	min-height: 80px;
}


