@import url("https://fonts.googleapis.com/css?family=Bitter|Open+Sans:400,700");
body {
  background-color: rebeccapurple;
  color: #EEE8D6;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #FFBA00;
  font-family: "Bitter", serif; }

.container {
  margin: 0 auto;
  width: 80%; }
  @media screen and (min-width: 768px) {
    .container {
      width: 90%; } }
  @media screen and (min-width: 1024px) {
    .container {
      width: 1000px; } }

.navegacion {
  padding: 10px; }
  .navegacion:after {
    content: "";
    display: table;
    clear: both; }
  .navegacion h2 {
    margin: 0;
    float: left;
    display: none; }
    @media screen and (min-width: 768px) {
      .navegacion h2 {
        display: block; } }
  .navegacion nav {
    display: inline;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .navegacion nav {
        float: right; } }
    .navegacion nav a {
      color: #EEE8D6;
      font-size: 1.3rem;
      text-decoration: none;
      text-align: center;
      display: block;
      margin-bottom: 20px; }
      @media screen and (min-width: 768px) {
        .navegacion nav a {
          display: inline;
          text-align: left; } }
      .navegacion nav a:hover {
        color: #FFBA00; }

.background {
  display: table;
  width: 100%;
  position: relative; }
  .background .contenido {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 20px 20px 20px;
    position: relative;
    font-size: 1rem; }

.background {
  display: table;
  width: 100%;
  position: relative; }
  .background .contenido {
    display: table-cell;
    vertical-align: bottom;
    padding: 0 20px 20px 20px;
    position: relative;
    font-size: 1.3rem; }
    .background .contenido p {
      color: #EEE8D6;
      font-weight: 700; }

.london {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)), url("../img/imagen02.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 600px; }

.estacion {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)), url("../img/imagen03.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px; }

/* CONTENIDO PRINCIPAL */
#contenido-principal {
  box-sizing: border-box;
  background-color: black; }
  @media screen and (min-width: 768px) {
    #contenido-principal {
      width: 67.7%;
      float: left; } }

@media screen and (min-width: 768px) {
  aside {
    vertical-align: top;
    width: 30%;
    float: right;
    background-color: blue; } }

/** NOTICIAS **/
.noticia {
  padding-top: 10px;
  margin-bottom: 30px;
  border-top: 2px dotted red; }
  .noticia h3 {
    color: green;
    margin-bottom: 10px;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .noticia img {
    float: left;
    margin-right: 10px; }
  .noticia p {
    font-size: 1rem;
    color: yellow; }

.btn {
  display: block;
  color: gray;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: rebeccapurple;
  transition: 1s; }
  @media screen and (min-width: 768px) {
    .btn {
      display: inline-block; } }
  @media screen and (min-width: 1024px) {
    .btn {
      display: inline;
      float: right; } }
  .btn:hover {
    background-color: #331a4d; }

.noticia {
  overflow: hidden; }

table {
  margin-top: 30px;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  border-collapse: collapse; }
  table > caption {
    text-align: left;
    font-family: "Bitter", serif;
    font-size: 1.8rem;
    padding: 5px;
    color: #FFBA00;
    margin-bottom: 20px; }
  table thead tr th {
    background-color: #002c3d;
    color: #EEE8D6;
    font-size: 1.3rem; }
  table > thead > tr,
  table > tbody > tr {
    color: #EEE8D6;
    background-color: #005170; }
    table > thead > tr:nth-child(odd),
    table > tbody > tr:nth-child(odd) {
      background-color: #0076A3; }
    table > thead > tr:hover,
    table > tbody > tr:hover {
      background-color: #e6a700; }
    table > thead > tr th,
    table > thead > tr td,
    table > tbody > tr th,
    table > tbody > tr td {
      padding: 10px;
      border-bottom: 1px dotted #101068; }
